@use "../../scss/variables.scss" as variables;

.feed-card-container {
    margin-bottom: variables.$pm-half;

    .avatar {
        height: 30px;
        width: auto;
    }

    .post-image {
        width: 100%;
        height: auto;
    }

    .title {
        color: variables.$text-dark;
        font-weight: 700;
        font-size: 15px;
        margin-bottom: variables.$pm-quarter;
    }

    .description {
        color: variables.$color-secondary;
        font-weight: 500;
        font-size: 15px;
    }
}