@import "../../scss/global.scss";
@import "../../scss/scrollbar.scss";

.home-container {
    display: flex;
    flex-direction: column;
    width: 100%;

    @extend .responsive-container-padding;

    .view-content-header {
        position: relative;
    }

    .content {
        position: relative;
        flex: 1;
        margin-top: $pm-half;
        margin-bottom: calc($tool-bar-height + $pm-half);

        @extend .layout-scrollbar; 

        @include sm {
            margin-bottom: 0px;
        }
    }
}
