@use "../../scss/global.scss" as global;
@use "../../scss/scrollbar.scss" as scrollbar;
@use "../../scss/variables.scss" as variables;
@use "../../scss/media.scss" as media;

.home-container {
    display: flex;
    flex-direction: column;
    width: 100%;

    @extend .responsive-container-padding;

    .view-content-header {
        position: relative;
    }

    .content {
        position: relative;
        flex: 1;
        margin-top: variables.$pm-half;
        margin-bottom: calc(variables.$tool-bar-height + variables.$pm-half);

        @extend .layout-scrollbar; 

        @include media.sm {
            margin-bottom: 0px;
        }

        .no-results {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            width: 100%;
            font-size: 20px;
            color: variables.$text-dark;
        }
    }
}
