@import "../../scss/global.scss";

.home-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-y: hidden;

    @extend .responsive-container-padding;

    .view-content-header {
        position: relative;
        // margin-left: 5px;
    }

    .content {
        position: relative;
        flex: 1;
        margin-top: $pm-half;
        // margin-left: 5px;
    }
}