@import '../../scss/variables.scss';

.toolbar-user {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;

    .toolbar-user-icon {
        height: 40px;
        width: auto;
        color: black;
    }
}