@use "../scss/variables.scss" as variables;

:export {
    text_dark: variables.$text-dark;
    primary: variables.$color-primary;
    secondary: variables.$color-secondary;
    error: variables.$color-error;
    warning: variables.$color-warning;
    tool_bar_height: variables.$tool-bar-height;
    nav_bar_width: variables.$nav-bar-width;
    container_background_color: variables.$container-background-color;
}