@import "../../scss/variables.scss";

.elastic-search-bar-root {
    max-width: 100%;

    .rounded-container {
        border-radius: 5px;
        border-style: solid;
        flex-direction: row;
        align-items: center;
        border-width: 2px;
        border-color: $color-secondary;
        background: white;
    }

    .rounded-container:hover {
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), 0 4px 6px rgba(0, 0, 0, 0.22);
    }

    .input {
        flex: 1;
        margin: 0px 5px;
    }
}