@import "./variables.scss";

.responsive-container-padding {
    padding: 0px $pm-half;

    @include lg {
        padding: 0px $pm;
    }

    @include sm {
        padding-left: $pm-quarter;
    }
}