@import './variables.scss';

.full-screen-window {
    display: flex;
    flex-direction: column;
    min-width: 100%;
    min-height: 100%;
    width: 100%;

    &--no-scroll {
        @extend .full-screen-window;
        height: 100%;
        overflow-y: hidden;
        overflow-x: hidden;
    }
}

.responsive-container-padding {
    padding: $pm-half;
}