//https://codepen.io/zachleat/pen/WNezwqx

$--scrollbar-size: .375rem;
$--scrollbar-minlength: 1.5rem; /* Minimum length of scrollbar thumb (width of horizontal, height of vertical) */
$--scrollbar-ff-width: thin; /* FF-only accepts auto, thin, none */
$--scrollbar-track-color: transparent;
$--scrollbar-color: rgba(0,0,0,0.2);
$--scrollbar-color-hover: rgba(0,0,0,0.3);
$--scrollbar-color-active: rgba(0,0,0,0.6);

/* This class controls what elements have the new fancy scrollbar CSS */
.layout-scrollbar {
    scrollbar-color: $--scrollbar-color $--scrollbar-track-color;
}
.layout-scrollbar::-webkit-scrollbar {
    height: $--scrollbar-size;
    width: $--scrollbar-size;
}
.layout-scrollbar::-webkit-scrollbar-track {
    background-color: $--scrollbar-track-color;
}
.layout-scrollbar::-webkit-scrollbar-thumb {
    background-color: $--scrollbar-color;
    border-radius: 3px;
}
.layout-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: $--scrollbar-color-hover;
}
.layout-scrollbar::-webkit-scrollbar-thumb:active {
    background-color: $--scrollbar-color-active;
}
.layout-scrollbar::-webkit-scrollbar-thumb:vertical {
    min-height: $--scrollbar-minlength;
}
.layout-scrollbar::-webkit-scrollbar-thumb:horizontal {
    min-width: $--scrollbar-minlength;
}

.layout-scrollbar::-webkit-scrollbar-corner {
    display: none;
}
.layout-scrollbar::-webkit-scrollbar-button {
    display: none;
} 