@import './media.scss';

/*******************************************************************************/
/************************************ Colors ***********************************/
/*******************************************************************************/
$color-primary:#5D8FE3;
$color-secondary:#50B3C6;
$color-error:#f54842;
$color-warning:#FFAC40;
$color-yellow: #fcf403;

$text-dark: #344655;

$container-background-color: #f5f5f5;

$nav-bar-height:60px;
$nav-bar-width: 60px;

$screen-margin: 15px;
$screen-margin-double: 30px;
$screen-margin-quarter: 3.75px;
$screen-margin-half: 7.5px;
$card-margin: 7.5px;
$card-margin-double:15px;
$pm-double:60px;
$pm:30px;
$pm-quarter:7.5px;
$pm-half:15px;